* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-img {
    width: 15rem;
}

.noTask-wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(171, 207, 234);
}

.homePage-title {
    margin: 1rem 0;
}

.modal {
    padding: 4rem;
}

.modal-btn {
    margin-right: 2rem;
}

.progressBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress {
    width: 7rem;
}

.todoPage-container {
    background-color: #FAFBFC;
    padding: 1.4rem;
    height: 100vh;
}

.app-title-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
/* span.anticon.anticon-down.ant-select-suffix{
    background-color: red;
    color:#00C297;
} */
.app-title {
    font-size: 1rem;
    margin-left: 0.1rem;
    margin-top: 2rem;
}

.todoList {
    background-color: white;
    width: 30%;
    border-radius: 0.1rem;
    padding: 1rem;
    margin: auto;
    box-shadow: 0 0 0.3rem 0.1rem #F3F4F6;
}

.todo-btns {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.showTask-btn {
    color: green;
    background-color: white;
    border: 0.1rem solid rgb(244, 243, 243);
}

#allTasks {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.todo-hr {
    border-color: #EEF2F5;
    opacity: 0.2;
}

.addTask-btn {
    padding: 0.05rem 1.5rem;
    background-color: #00C297;
    border-radius: 0.3rem;
    font-size: 0.7rem;
}

span.ant-select-selection-item {
    color: #2DCCA9;
    font-weight: bold;
}

.sitter {
    width: 1.5rem;
}

.todo-group {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    font-size: 6rem;
}

.todos {
    display: flex;
}

.dropDown {
    font-size: 2rem;
    cursor: pointer;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ACBAC7;
    border-color: #CAD3DB;
    border-radius: 50%;
    margin-right: 0.6rem;
}


 .taskPercentage {
    font-size: 0.7rem;
    padding-top: 1rem;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .todoList {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .homePage-wrapper {
        background-color: green;
        padding: 0 2rem;
    }

    .homePage-title {
        padding: 0 0.5rem;
    }

    .todoPage-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .todo-btns {
        padding: 0;
    }

    #taskList-title {
        display: none;
    }

    .todoList {
        width: 100%;
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
    .todo-group{
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    .todoPage-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }

    .todo-btns {
        padding: 0;
    }

    #taskList-title {
        display: none;
    }

    .todoList {
        width: 100%;
        margin-top: 1rem;
        padding-top: 2rem;
    }

    .modal {
        width: 100%;
        padding: 0;
    }
}

@media (min-width: 800px) {

    /* .todoPage-container{
    background-color: pink;
   } */
    .todoList {
        background-color: white;
        width: 50%;
        border-radius: 0.1rem;
        padding: 1rem;
        margin: auto;
    }
}