* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-img {
    width: 15rem;
}

.homePage-wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(171, 207, 234);
}

.homePage-title {
    margin: 1rem 0;
}
.modal{
    padding: 4rem;
}
.modal-btn{
    margin-right: 2rem;
}
.todoPage-container{
    height: 100vh;
    background-color: rgb(248, 248, 249);
}
.app-title-wrapper{
    display: flex;
    padding-top: 3rem;
    justify-content: center;
}
.app-title{
    font-size: 1.2rem;
    margin-left: 2rem;
}  
.todoList{
background-color: white;
margin: 5rem;
border-radius: 0.1rem;
}
.todo-btns{
    display: flex;
    justify-content: space-between;
    padding:2rem 4rem;
}
.showTask-btn{
    color: green;
    background-color: white;
    border: 0.1rem solid rgb(244, 243, 243);
}
.addTask-btn{
    background-color: rgb(77, 161, 77);
}
.sitter{
    width: 2rem;
}
.todo-group{
    display: flex;
    background-color: red;
    justify-content: space-between;
    padding: 0.7rem;
}
.todos{
    display: flex;
}
.dropDown{
    font-size: 2rem;
    cursor: pointer;
}
@media (max-width: 480px) {
    .homePage-wrapper {
        padding: 0 2rem;
    }

    .homePage-title {
        font-size: 1rem;
    }
}