* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-img {
    width: 15rem;
}

.noTask-wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(171, 207, 234);
}

.homePage-title {
    margin: 1rem 0;
}

.modal {
    padding: 4rem;
}

.modal-btn {
    margin-right: 2rem;
}

.progressBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todoPage-container {
    background-color: rgb(245, 249, 253);
    padding: 1.4rem;
    height: 100vh;
}

.app-title-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.app-title {
    font-size: 1.2rem;
    margin-left: 2rem;
}

.todoList {
    background-color: white;
    width: 50%;
    border-radius: 0.1rem;
    padding: 1rem;
    margin: auto;
}

.todo-btns {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.showTask-btn {
    color: green;
    background-color: white;
    border: 0.1rem solid rgb(244, 243, 243);
}

.addTask-btn {
    background-color: rgb(77, 161, 77);
}

.sitter {
    width: 2rem;
}

.todo-group {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
}

.todos {
    display: flex;
}

.dropDown {
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 768px){
    .todoList{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .homePage-wrapper {
        background-color: green;
        padding: 0 2rem;
    }

    .homePage-title {
        padding: 0 0.5rem;
    }

    .todoPage-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .todo-btns {
        /* display: flex;
        flex-direction: column; */
        padding: 0;
    }
    #taskList-title{
        display: none;
    }
    .todoList{
        width: 100%;
    }
}
@media (max-width: 480px){
    .todoPage-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }
    .todo-btns {
        padding: 0;
    }
    #taskList-title{
        display: none;
    }
    .todoList{
        width: 100%;
        margin-top: 1rem;
        padding-top: 2rem ;
    }
    .modal{
        width: 100%;
        padding: 0;
    }
}
@media (min-width: 800px){
   /* .todoPage-container{
    background-color: pink;
   } */
   .todoList {
    background-color: white;
    width: 80%;
    border-radius: 0.1rem;
    padding: 1rem;
    margin: auto;
}
}
